<div class="container">
    <h1>Welcome, <%=user.username%></h1>
    <p>
        This is the dashboard, here you can access information 
        about recent campaigns,
        get help, and see when our upcomming events are to take place.
    </p>

</div>