<footer class="pt-4  pb-4 bg-subduedgrey shadow d-none d-md-block">
    <div class="">

        <div class="d-flex justify-content-evenly align-items-center">

                <div class="">
                    <a class="text-nicegrey" href="https://discord.gg/q9T2C6w8Ge">Kingdom of Reign</a>
                </div>
                <div class="">
                    <a class="text-nicegrey" href="https://discord.gg/GDYhzVhunZ">Reign Roleplay</a>
                </div>


            <div class="text-grey">
                &#169;Reign Network
            </div>
        </div>


    </div>

</footer>




<script src="static/js/carouselevents.js"></script>
<script src="static/js/user.js"></script>
</body>

</html>